<div class="row">
        <div class="panel mb25">
        <div class="panel-body">
          <table class="table table-responsive table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Type</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= @monster.name %></td>
                  <td><%= @monster.power %></td>
                  <td><%= @monster.type %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
</div>